.reactionsContainer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 20px;
    width: fit-content;
    border-radius: 1em 1em 0 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #003a71;
    color: white;
    opacity: 0;
}

.reactionsContainer button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reaction {
    max-width: 30px;
    height: 2em
}