
.button {

    background-color: var(--light);
    color: var(--contrast);
    width: 10em;
    font-size: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
}

.paws{
    width: 20%;
}