.containerImages{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1em;
}

@media (width <= 568px) {
    .containerImages {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
  }

  @media (720px < width <= 1020px){
    .containerImages {
        grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    }
  }
  @media (1200px < width){
    .containerImages {
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }
  }



