.configurate-kit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:4em 0;
    gap: 4em;

    & button {
        background-color: var(--light);
        color: var(--contrast);
        padding: 1em;
        border-radius: .5em;
        font-size: 1.5em;
    }
}

.container-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 6em;
}

.configurate-kit {
    width: 60%;
    background-color: var(--contrast);
        color: var(--light);
    border-radius: .5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    & h2 {
        font-size: 2em;

    }

    & select {
        background-color: var(--light);
        color: var(--contrast);
        font-size: 1em;
        padding: 10px;
    }

    & input[type="number"]{
        background-color: var(--contrast);
        width: 100px;
        border-bottom: 1px solid var(--light);
    }

    & option {
        color: var(--contrast);
    }

    & > div{
        display: flex;
        gap: 1em;
        font-size: 1.5em;
    }
}

.dispensations {
    width: 60%;
    padding: 2em;
    color: var(--light);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    & .dispensation {
        font-size: 1.2em;
        border-radius: .5em;
        border: 1px solid var(--light);
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-around;

        & > div {
            display: flex;
            gap: 15px;
        }
    }
}