.Home{
    width: 100%;
    background-color: #03223f;
    background: url('../../public/main-background.png') center;
    height: 100vh; 
    overflow-y: auto;
}

.welcome{
    width: 80%;
    margin-top: 5vh;
    gap: 3em;
}

.welcome article{
    background: url('../../public/card1-background.png') center;
    width: 100%;
    color: #03223f;
    border-radius: 1em;
    height: 60vh;
    justify-content: space-between;
    padding: 2em;
    
    
    & h2{
        font-size: 5em;
    }

    & h3{
        font-size: 3em;
    }

    & p{
        text-align: center;
        font-size: 2em;
        width: 60%;
    }
}


.grid {

    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;

}

.grid div {

    background-color: aqua;
    border-radius: 10px;
}

.grid:first-child{
    grid-column: 2 / -1 !important;
    background-color: red !important;
}

.grid .uno {
    background-color: red;
    grid-column-start: 2;
}

