.inputText{

    width: 100%;
    background: none;
    
    border-bottom: 2px solid #E19F41 ;
    color: #038BBB;
    font-size: 2em;
    border-radius: 5px 5px 0 0; 
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}